body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Itim', cursive;
  }
  
  .title{
      text-align: left;
  }
  
  nav {
    background-color: #333; /* Background color of the navigation bar */
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff; /* Text color for the title and button */
    position: fixed; /* This will fix position of nav bar */
    justify-content: space-between; /* To push the title and button to the opposite sides */
    font-family: 'Inter', sans-serif;
    font-family: 'Itim', cursive;
    font-weight: 1000;
  }
  
  .navbar-left h1 {
    margin: 0;
  }
  
  .navbar-right a {
    text-decoration: none;
    /* background-color: #ff8809; Background color of the button */
    color: #fff; /* Text color for the button */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease;
  }

  /* ###Content### */

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
   
  }

  /* Add the background image to the desired section */
  #home {
    color: #000; /* Set text color for better visibility */
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: #000000;
    font-family: 'Inter', sans-serif;
    font-family: 'Itim', cursive;
  }

  #home a{
    text-decoration: none;
    background-color: #fff;
    color: #000; /* Text color for the button */
    border: none;
    padding: 80px 120px;
    border-radius: 30PX;
    cursor: pointer;
    transition: .5s ease;
  }

  #home a:hover{
    text-decoration: none;
    background-color: #000;
    color: #fff; /* Text color for the button */
    border: none;
    padding: 80px 120px;
    border-radius: 30PX;
    cursor: pointer;
    transition: .5s;
  }

  img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  #c {
    margin-right: 20px;
  }
  
  .navbar-right a:hover{
    background-color: #7E7E7E; /* Background color of the button */
    color: #000; /* Text color for the button */
    border: none;
    transform: scale(1.2);
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
  }
  
  footer {
    background-color: #fff;
    padding: 2px;
    text-align: center;
  }

  section:nth-child(even) {
    background-color: #fff;
  }

  .active {
    background-color: #7E7E7E;
  }

  .inactive {
    background-color: #000;
  }
  .about {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Itim', cursive;
    font-weight: 1000;
  }
.skills{
  width: 80%;
  margin: 60px auto;
  color: #333;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-family: 'Itim', cursive;
}

.skills li{
  margin: 20px 0;
  padding: 20px;
  list-style: none;
 
}
.bar{
  background: #353b48;
  display:block ;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.075, 0.8, 0.25, 1);
}

.bar:hover{
  box-shadow:  0 14px 28px ,0 10px 10px  ;
}

.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg,rgba (236, 0, 140, 1)0%,rgba (252, 103, 103, 1)100%);
}

.html{
  width: 90%;
  animation:  html 3s;
}

.css{
  width: 70%;
  animation:  css 3s;
}

.AdobePhotoshop{
  width: 50%;
  animation:  Adobephotoshop 3s;
}

.AdobePremierePro{
  width: 80%;
  animation:  AdobePremierePro 3s;
}

.certificate{
  text-align: center;
}

.certificate img{
  width: 80%;
  height: 80%;
}

.contacts div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.contacts div img{
  margin: 0;
  width: 50px;
  height: auto;
}

@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 90; 
  }
}

